<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d509b5f2-885d-4379-a99d-ea4265a88cb0" Publisher="CN=phbenton" Version="1.1.0.0" />
  <Properties>
    <DisplayName>BrightLight</DisplayName>
    <PublisherDisplayName>phbenton</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BrightLight.App">
      <VisualElements DisplayName="BrightLight" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="BrightLight" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>